body {
    margin: 0;
    padding: 0;
}

.nav {
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    /* max-width: 900px; */
}

a {
    color: white;
    text-decoration: none;
}


ul .item {
    display: inline;
    margin: 0 20px;
    font-size: 18px
}


/* form */
form {
    border: 2px solid #000;
    width: 500px;
    margin: 40px auto;
    padding: 40px 60px;
}

form label {
    display: block;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 20px;
}

textarea {
    margin-bottom: 20px;
    width: 100%;
}